<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ervin.joker">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
     <uses-feature android:name="android.hardware.camera" />
     <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".video.UploadService"
            android:exported="true" />

        <activity
            android:name=".video.PlayActivity"
            android:label="Masukkan video ke Berkas"
            android:parentActivityName=".video.MainActivity" />
        <activity
            android:name=".video.ReviewActivity"
            android:label="Unggah Video"
            android:parentActivityName=".video.MainActivity" />
        <activity android:name=".video.MainActivity" />
        <activity android:name=".SignUp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pengguna.SignUpAsPersonalia"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pengguna.SignUpAsPelamar"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SignIn"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityPersonalia"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".lowongan.DetailLowongan"
            android:label="Detail Lowongan">
        </activity>
        <activity android:name=".lowongan.KirimLamaran"
            android:theme="@style/dialog"
            android:label="Kirim berkas lamaran"/>
        <activity android:name=".berkas.BerkasLamaranList"
            android:label="List Pelamar"/>
        <activity android:name=".berkas.DetailBerkas"
            android:label="Detail Berkas Lamaran"/>
        <activity android:name=".berkas.KirimEmail"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:label="Kirim E-mail"/>
        <activity android:name=".berkas.FavoritList"
            android:label="Favorit"/>
        <activity android:name=".lowongan.EditLowongan"
            android:label="Edit Lowongan" />
        <activity android:name=".dokumen.UnggahDokumen"
            android:label="Unggah Dokumen"/>
        <activity android:name=".pengguna.Reauntentifikasi"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:label="Autentifikasi pengguna"/>
        <activity android:name=".pengguna.EditProfilePelamar"
            android:label="Edit Profile"/>
        <activity android:name=".pengguna.EditProfilePersonalia"
            android:label="Edit Profile"/>
    </application>

</manifest>